@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ToTheMoon.Models;

<table class="table table-hover" border="1">
    <thead bgcolor="#222" style="color:white">
    <tr>
    <th>Requests for Space Increase</th>
    </tr>
    </thead>
    <tbody>
        @foreach (IncreaseSpaceRequest request in ViewBag.IncreaseSpaceRequests)
        {
            <tr>
                <td>
                    <p>Request for +@(request.increase)GB for [@request.space.key] @request.space.Name</p>
                    @Html.ActionLink("[Review]", "Review", "IncreaseSpaceRequest", new { ID = request.ID }, null)
                    @{if (ViewBag.UserRole == GlobalRole.ADMIN) { 
                        @Html.ActionLink("[Approve]", "Approve", "IncreaseSpaceRequest", new { ID = request.ID }, null)
                        @Html.ActionLink("[Decline]", "Decline", "IncreaseSpaceRequest", new { ID = request.ID }, null)
                    }
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <b>Tip: </b>You can request a space increase from the details page of spaces you manage.
            </td>
        </tr>
    </tfoot>
</table>