<table width="329" border="1" style="width:300px">
        <tr>
            <th width="319" bgcolor="#222" style="color:white"><div align="left">My Notifications</div></th>
        </tr>
        @for(int i = 0; i < 5; i++)
        {
            <tr>
                <td height="55">
                    <a href="#111" target="_blank">
                        <p>Michael Mroz (15522353)</p>
                        <p>Cardiology 320 - now the Prinipal Investigator</p>
                    </a>
                </td>
            </tr>
        }
    </table>