
<table class="table table-hover" border="1" style="width:50%">
    <thead>
        <td bgcolor="#222" style="color:white"><div align="left">Storage Request</div></td>
    </thead>
    @foreach (ToTheMoon.Models.Request request in ViewBag.Requests)
    {
        <tbody>
            <td>
                <p>@request.HumanReadableRequestString</p>
                @Html.ActionLink("[Approve]", "Approve", "Request", new { request.RequestID })
                @Html.ActionLink("[Reject]", "Reject", "Request", new { request.RequestID })
                @Html.ActionLink("[Comment]", "Comment", "Request", new { request.RequestID })
            </td>
        </tbody>
    }
</table>