<table class="table table-hover" border="1" style="width:48%">
    <thead bgcolor="#222" style="color:white">
        <th>Storage Request</th>
    </thead>

    @foreach (ToTheMoon.Models.Request request in ViewBag.Requests)
    {
        <tbody>
            <td>
                <p>@request.HumanReadableRequestString</p>
                @Html.ActionLink("[Approve]", "Approve", "Request", new { request.RequestID })
                @Html.ActionLink("[Reject]", "Reject", "Request", new { request.RequestID })
                @Html.ActionLink("[Comment]", "Comment", "Request", new { request.RequestID })
            </td>
        </tbody>
    }
</table>