<table class="table table-hover" border="1" style="width:48%" align="right">
    <thead bgcolor="#222" style="color:white">
        <tr>
            <th>Faculty Storage Spaces</th>
            <th>Total Space</th>
        </tr>
    </thead>

    <tbody>
@foreach (ToTheMoon.Models.Space space in ViewBag.Spaces)
    {
    <tr>
        <td>
            <p>@space.SpaceName </p>
            <p>@space.Description</p>
        </td>
        <td>@space.SpaceUsed GB of @space.SpaceTotal GB</td>
    </tr>
}
    </tbody>
</table>
