<table border="1" style="width:300px">
    <tr>
        <th bgcolor="#222" style="color:white"><div align="left">Faculty Storage Spaces</div></th>
        <th bgcolor="#222"></th>
    </tr>
    @for(int i = 0; i < 5; i++)
    {
        <tr>
            <td>
                <p>Mismanagement and Corruption 101</p>
                <p>Patrick's students who miss him</p>
            </td>
            <td>107GB</td>
        </tr>
    }
</table>
