<table class="table table-hover" border="1" style="width:48%" align="right">
    <thead bgcolor="#222" style="color:white">
        <tr>
            <th>Faculty Storage Spaces</th>
            <th>Total Space</th>
        </tr>
    </thead>
    <tr>
        <td>
            <p>Software Components</p>
            <p>Patrick's students who miss him</p>
        </td>
        <td>107GB</td>
    </tr>

    <tr>
        <td>
            <p>Dogecoin Mining 100</p>
            <p> Lecture 1: To the Moon</p>
        </td>
        <td>1000GB</td>
    </tr>

</table>
