@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using ToTheMoon.Models;

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_SpacesPartial")
    </div>
</div>
<div class="row">
    @{
        //Only bother to show Requests for Increased Space if user actually has the ability to make one
        bool DM = false;
        foreach (UserSpace us in ViewBag.UserSpaces)
        {
            if (us.role == SpaceRole.DATAMANAGER)
            {
                DM = true;
                break;
            }
        }
        //make div col-md-12 if a regular user
        string RequestWidth = "col-md-12";
   
        if (ViewBag.UserRole != GlobalRole.REGULAR || DM)
        {
            RequestWidth = "col-md-6";
        }
    }
    <div class="@RequestWidth">
        @Html.Partial("_NewSpaceRequestsPartial")
    </div>
    @if (ViewBag.UserRole != GlobalRole.REGULAR || DM)
    { 
    <div class="col-md-6">
        @Html.Partial("_IncreaseSpaceRequestsPartial")
    </div>    
    }
</div>



