<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">

</head>

<body>
<div id="header">
<h1>To The Moon</h1>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="1" align="right" style="width:300px">
  <tr>
    <th bgcolor="#222" style="color:white"><div align="left">Storage Request</div></th>
  </tr>
  <tr>
    <td><p>Add 10GB to Tanto Cuore Strategy Guides</p>
    <p><a href="#113" target="_blank">[Approve]</a> <a href="#114" target="_blank">[Reject]</a> <a href="#115" target="_blank">[Comment]</a></p></td>
  </tr>
    <tr>
    <td><p>Grant Sarah Peursum accecs to Secret Data</p>
    <p><a href="#113" target="_blank">[Approve]</a> <a href="#114" target="_blank">[Reject]</a> <a href="#115" target="_blank">[Comment]</a></p></td>
  </tr>
    <tr>
    <td><p>Create Mike's Plane References with 42GB</p>
    <p><a href="#113" target="_blank">[Approve]</a> <a href="#114" target="_blank">[Reject]</a> <a href="#115" target="_blank">[Comment]</a></p></td>
  </tr>
</table>

<table width="329" border="1" style="width:300px">
<tr>
  <th width="319" bgcolor="#222" style="color:white"><div align="left">My Notifications</div></th>
</tr>
<tr>

  <td height="55"><a href="#111" target="_blank">
<p>Michael Mroz (15522353)</p>
    <p>Cardiology 320 - now the Prinipal Investigator</p></a></td>
</tr>
<tr>
  <td height="55"><a href="#112" target="_blank">
  <p>David Cooper (131072Q)</p>
    <p>Dave's Gentoo installs - created with 40GB</p></a></td>
</tr>   
 
</table>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="1" align="right" style="width:300px">
  <tr>
    <th bgcolor="#222" style="color:white"><div align="left">System Status</div></th>
  </tr>
  <tr>
    <td><p>37.5% used</p>
    <p>420GB free of 672GB</p>
    <p>Availability: 62.5%</p></td>
  </tr>
</table>
<table border="1" style="width:300px">
  <tr>
    <th bgcolor="#222" style="color:white"><div align="left">Faculty Storage Spaces</div></th>
    <th bgcolor="#222"></th>
  </tr>
  <tr>
    <td><p>Mismanagement and Corruption 101</p>
      <p>Patrick's students who miss him</p></td>
    <td>107GB</td>
  </tr>
  <tr>
    <td><p>Foundations of Communications 300</p>
    <p>Mihai's unanswered emails</p></td>
    <td>51GB</td>
  </tr>
  <tr>
    <td><p>Daemonology 420</p>
    <p>Dave's Gentoo installs</p></td>
    <td>40GB</td>
  </tr>
  <tr>
    <td><p>Homebrew Project 501</p>
    <p>Hannes' vodka stash</p></td>
    <td>29GB</td>
  </tr>
  <tr>
    <td><p>Fundamental Cryptocurrencies 220</p>
    <p>Roberts gummnut wallets</p></td>
    <td>16GB</td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
